<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Remote</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Roam</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Better Remote</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>MuteIntent</string>
		<string>PlayOrPauseIntent</string>
		<string>PowerIntent</string>
		<string>SelectIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.msdrigg.roam</key>
		<dict>
			<key>PushConfigurationManager</key>
			<dict>
				<key>Enable-Private-Data</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
